<div class="container-title">
     <div class="row wrapper">
        <h3 class="title"><i class="mdi-editor-mode-edit"></i> Nueva carrera</h3>
    </div>
</div>
<%= render 'form' %>

<%= javascript_include_tag 'admin/init_map' %>