<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @available_area.name %>
</p>

<%= link_to 'Edit', edit_admin_available_area_path(@available_area) %> |
<%= link_to 'Back', admin_available_areas_path %>
