/* HOLA NACHO!
 *
 * SECTIONS
 * ------------
 * 00. Variables
 * 01. Fonts
 * 02. Main Layout
 * 03. Forms
 * 04. Tables
 * 
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
*/

@import "bourbon";
@import "neat";

/* ***************** ***************** ***************** */
/* 00. VARIABLES */
/* ***************** ***************** ***************** */

$container-title-height: 	50px;
$map-height: 				300px;

$primary-font: 				'LaskiSlab-Regular', 'Georgia', 'Times', serif;
$secondary-font: 			'BlocC', 'Impact', 'Arial Black', sans-serif;
$titles-font: 				'LaskiSlab-ExtraLight', 'Georgia', 'Times', serif;
$negritas-font: 			'LaskiSlab-Bold', 'Georgia', 'Times', serif;

$mobile: 					new-breakpoint(max-width 767px 4);

$velo-negro: 				#171717;
$velo-gris: 				#dcdee3;

$velo-verde: 				rgba(64,131,40,1);
$velo-verde-oscuro: 		rgba(14,60,14,1);



/* ***************** ***************** ***************** */
/* 01. FONTFILES */
/* ***************** ***************** ***************** */

@import "fonts";
@import "navigation";
@import "layout";




/* ***************** ***************** ***************** */
/* 02. Main layout */
/* ***************** ***************** ***************** */

body {	
	font-family: $primary-font;
	background-color: $velo-gris;
	color: $velo-negro;
}

@import "layout";
@import "navigation";
@import "sections";



.user-table {
  background-color: $velo-gris;
  margin: 0 5%;
}

.sender-table {
  background-color: $velo-gris;
}
/* ***************** */
/* 02. MAIN LAYOUT */
/* ***************** */


/* main-content is the container that has the <% yield %> tag */
.main-content .modal-form-container{
	min-width: 400px;
	width: 400px;
	margin: 0 auto;
	padding: 0;
}

/* logo */
.logo{
	padding: 2em 0;
	margin-bottom: 0;
}

/* .modal-form-container title styling */
.main-content .modal-form-container .form-title{
	background-color: #0E3C0E;
	height: 45px;
}

.main-content .modal-form-container .form-title h4{
	color: white;
	font-size: 20px;
	margin: 0;
	line-height: 45px;
	padding: 0 10px;
}
.main-content .modal-form-container .content{
	padding: 1em;
}

.main-content .modal-form-container .content .checkbox-padding {
	padding-left: 53px !important;
}




/* .container.main is the container that has the <% yield %> tag */
body .container.main{
	margin-top: 20px;
	margin-bottom: 20px;
	padding-top: $container-title-height;
	padding-bottom: 10px;
	position: relative;
	min-height: 80%;
	min-width: 1000px;
}

/* .filter-nav is the global nav with filters */
body .container.main .filter-nav{
	height: 40px;
	line-height: 40px;
	font-size: 16px;
	margin: 1em 0;
}
body .container.main .filter-nav ul li a{
	padding:0 10px;
	font-size: 14px;
}

/* .container-title is the container that has the title and one button link */
body .container.main .container-title{
	height: $container-title-height;
	position: absolute;
	top: 0;
	width: 100%;
	right: 0;
	transition: 0.5s all;

}

body .container.main .container-title .wrapper .title{
	color: white;
	padding: 0 1em;
	margin: 0;
	font-size: 20px;
	line-height: $container-title-height;
	position: relative;
}
body .container.main .container-title .wrapper {
	position: relative;
}
body .container.main .container-title .wrapper .title-link{
	position: absolute !important;
 	right: 17px;
  	top: 8px;
}
/* ***************** */
/* 03. FORMS */
/* ***************** */

/* the classic-form is used in the new delivery view */
form.classic-form{
	margin: 1em 0;
}
form.classic-form .title{
	margin-top:0;
	margin-bottom: 10px;
}
form.classic-form .row{
	margin:0;
}
form.classic-form i.prefix{
	color: $velo-verde-oscuro;
}
form.classic-form .row.map-container{
	margin:10px 0;
}
.delivery .map-container #map, .delivery .map-container,
form.classic-form .map-container #map, form.classic-form .map-container{
	height: $map-height;
	width: 100%;
}

/* ***************** */
/* 04. TABLES */
/* ***************** */

/* the deliveries table is very filled in with data, so we try to maximize space */
table.deliveries td{
	padding: 5px 5px;
}

table.deliveries td.actions, table.deliveries th.actions{
	width: 100px;
}

/* styling qr propertis in deliveries/show view */
.qr-container{
	text-align: center;
}

table.qr {
	height: 200px;
	max-height: 200px;
	width:  200px;
	display: inline-block;
	margin-top: 0.5rem;
	margin-left: auto;
	margin-right: auto;
}
table.qr td{
	padding: 5px;
}

tr:hover {
  background: #ccc;
}




