/* HOLA NACHO!
 *
 * SECTIONS
 * ------------
 * 00. Variables
 * 01. Fonts
 * 02. Main Layout
 * 03. Forms
 * 04. Tables
 * 
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.

*= require slick

*/

@import "bourbon";
@import "neat";
@import "base/base";
@import "fonts";
@import "slick";



/* ***************** ***************** ***************** */
/* 00. VARIABLES */
/* ***************** ***************** ***************** */

$container-title-height: 	50px;
$map-height: 				300px;

$primary-font: 				'LaskiSlab-Regular', 'Georgia', 'Times', serif;
$secondary-font: 			'BlocC', 'Impact', 'Arial Black', sans-serif;
$titles-font: 				'LaskiSlab-ExtraLight', 'Georgia', 'Times', serif;
$negritas-font: 			'LaskiSlab-Bold', 'Georgia', 'Times', serif;

$mobile: 					new-breakpoint(max-width 767px 4);

$velo-negro: 				#171717;
$velo-gris: 				#dcdee3;

$velo-verde: 				rgba(64,131,40,1);
$velo-verde-oscuro: 		rgba(14,60,14,1);

/* ***************** ***************** ***************** */
/* 01. FONTFILES */
/* ***************** ***************** ***************** */

@import "navigation";
@import "layout";
@import "sections";

/* ***************** */
/* 02. MAIN LAYOUT */
/* ***************** */

@import "main_layout";

/* ***************** */
/* 03. FORMS */
/* ***************** */

@import "forms";

/* ***************** */
/* 04. TABLES */
/* ***************** */

@import "tables";

/* ***************** */
/* MODAL */
/* ***************** */

@import "modal";


/* ***************** */
/* MEDIA QUERY */
/* ***************** */

@import "media_queries";




/* ***************** */
/* FORM HINTS */
/* ***************** */



p {
  margin: 0 0 3em 0;
  position: relative;
}

span.hints {
  border-radius: 5px;
  display: block;
  font-size: 1.3em;
  text-align: center;
  position: absolute;
  background: #f05f5c;
  left: 105%;
  top: 0;
  width: 160px;
  padding: 7px 10px;
  color: #fff;
}
span:after {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-right-color: #f05f5c;
  border-width: 8px;
  margin-top: -8px;
}




/* ***************** */
/* DATA-BOARD-MOBILE */
/* ***************** */


.slick-slider {
  height: 200px;
}




