@import "bourbon";
@import "neat";
@import "base/base";

/* ***************** */
/* FOOTER */
/* ***************** */

footer {
	@include outer-container;
	position: relative;

	div {
		@include span-columns(6);
		@include omega(2n);
		$mobile: new-breakpoint(max-width 500px 2);

		@include media($mobile) {
			@include span-columns(6);

			width: 100%;
			
		}

		text-align: center;

		ul, a {
			text-decoration: none;
			list-style: none;
			padding: 0;

		}
	}


	div.copyrights {
		@include span-columns(6);
		@include shift(3);

		text-align: center;
	}

}