// Menu de navegacion responsivo

@media (min-width: 320px) and (max-width: 568px) {
  nav {
    div.nav-wrapper {
      ul.main-navigation {
        li {
          display:none;
        }
      }
    }
  }

  #Infogram {
    padding: 0 20px;
    padding-top: 85px;
    height: 1500px;

    div.infogram_inner {
      @include outer-container;

      div.data-board {
        ul {
          @include outer-container;

          li {
            @include span-columns(11);
            @include shift(1);
          }
        }
      }

      div.callout {
        @include span-columns(11);
        @include shift(1);

      }
    }
  }
}


@media (min-width: 568px) {
  .main-navigation select, .main-navigation button {
    display: none;
  }
}

