@include media(min-width 740px) {
	.slicknav_menu {
		display:none;
	}
} 

@include media(max-width 740px) {
	nav {
		display: none;
	}
}

.slicknav_menu {
	background-color: rgba(14,60,14,1);

	.slicknav_btn {
	    background-color: rgba(14,60,14,1);
	}

	.slicknav_nav {
		font-family: $secondary-font;

		li {
			font-size: 1.5em;
			letter-spacing: 0.07;
		}
	}
}

nav {
  position: relative;
  width: 100%;
  padding: 0 20px;
  height: 74px !important;
  border-bottom: 1px solid rgba(255,255,255,0.4);
  background-color: rgba(14,60,14,1);
	
	.nav-wrapper {
		@include outer-container;
	
		.masthead{
			@include span-columns(4);

			padding-left: 7%;
		}
		
		ul a {
			display: block;

			font-family: $secondary-font;
			text-transform: uppercase;
			// letter-spacing: 0.05em;		
			text-decoration: none;
			// font-size: 1.05em;
			line-height: 2.4em;
			font-size: 1.2em;
    		letter-spacing: 0.125em;
			color: rgba(255,255,255,0.95);

			padding: 15px 15px 0 5px;
		}

		
		
		.main-navigation {
			@include span-columns(8);
			@include omega();

			height: 100%;
		    padding-left: 81px;
    		padding-right: 0;


			li {
				@include span-columns(3);
				@include omega();

				a:hover {
					color: red;
				}
			}
		}

		.main-anchor img {
			width: 181px;
			margin: 1.3em 0;
		}		
		
	}
	
	#mobile-demo, #user-dropdown { display: none;}

	
		
}
