
<div class="container-title">

     <div class="row wrapper">
        <h3 class="title"><i class="mdi-maps-directions-bike"></i> Crear nueva carrera</h3>
    </div>
</div>
<div class="row">
	<%= render 'form' %>
</div>

<%= javascript_include_tag 'admin/init_map' %>
