#Infogram-sender {
  	padding: 0 20px;
	padding-top: 85px;
	height: 550px;
	
	border-bottom: 14px solid rgba(255,255,255,0.85);


	background: -moz-linear-gradient(90deg, rgba(64,131,40,1) 0%, rgba(14,60,14,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(14,60,14,1)), color-stop(100%, rgba(64,131,40,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(90deg, rgba(64,131,40,1) 0%, rgba(14,60,14,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(90deg, rgba(64,131,40,1) 0%, rgba(14,60,14,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(90deg, rgba(64,131,40,1) 0%, rgba(14,60,14,1) 100%); /* ie10+ */
    background: linear-gradient(0deg, rgba(64,131,40,1) 0%, rgba(14,60,14,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0E3C0E', endColorstr='#408328',GradientType=0 ); /* ie6-9 */
	
	.infogram_inner {
		@include outer-container;
		padding: 1em 0;
		margin-top: 40px;
		
		.data-board {
			@include span-columns(8);
			@include omega();
			
			ul{
				@include fill-parent();
				@include row(table);
			
			li {
				@include span-columns(1 of 7);
				@include reset-display;
				@include pad(); 
				border: 1px solid rgba(255,255,255,0.4);
				border-radius: 1.2em;
				color: #fff;
				font-family: $negritas-font;
				
				span{
					display: block;
					font-family: $primary-font;
					font-size: 0.87em;
					text-transform: uppercase;
					}
				}	
			}
		}

		@include media(min-width 740px) {
			.data-board-mobile {
				div.slider {
					button.slick-prev:before {
						content: "<";
						display: none;
	    			}

	    			button.slick-next:before {
						content: "<";
						display: none;
	    			}

				}
			}
		}

		.callout{
			@include span-columns(4);
			margin-top: 2.5em;
			
			h2, p, h4, a {
				line-height: 110%;
				margin: 0;
				color: #fff;
			}
		}
	}
	

}

@include media(max-width 740px) {
	#Infogram-sender {
		padding-top: 19px;
		height: 900px;
		
		.main-anchor {
			margin-left: 12%;

			img {
				width: 262px;
			}
		}

		.infogram_inner {
			margin-top: 0;

			.callout {
				@include span-columns(12);

				margin: 0;
				text-align: center;

				h2, p {
					margin: 10px 0;
				}

				.modal {
					margin: 0 10%;

					label {
						div.modal-trigger {
							width: 100%;
						}
					}
				}
			}
			
			.data-board {
				display: none;
			}

			.data-board-mobile {
				@include span-columns(12);
    			
    			border: 2px solid white;
    			border-radius: 18px;
    			width: 80%;
    			margin-left: 30px;
    			background-color: $velo-gris;

    			div.slider {

    				button.slick-prev {
						margin-left: -8px;
    				}

    				button.slick-prev:before {
						content: "<";
    				}

    				button.slick-next:before {
						content: ">";
    				}

    				button.slick-next {
						margin-right: -8px;
    				}

					.slick-prev:before, .slick-next:before {
					    font-size: 30px;
					}

    				ul.slick-dots {
    					margin-bottom: -40px;

						li {
							button:before {
							    font-family: 'slick';
							    font-size: 56px;
							    line-height: 20px;
							    position: absolute;
							    top: 0;
							    left: 0;
							    width: 20px;
							    height: 20px;
							    content: '•';
							    text-align: center;
							    opacity: .25;
							    color: black;
							    -webkit-font-smoothing: antialiased;
							    -moz-osx-font-smoothing: grayscale;
							}
						}
    				}

    				div.slick-list {
    					div.slick-track {
    						div.slick-slide {
							    padding: 3em 2em 2em 2em;
							    text-align: center;
							    color: white;
							    font-size: 1.8em;
							    width: 469px;
							    color: grey;
    						}
    					}
    				}
    			}
			}
		}
	}
}

.infotable-sender {
	@include outer-container;
  	background-color: $velo-gris;
	margin-top: 0;

  .infotable-nav {
      background-color: rgba(14,60,14,1);
	  @include fill-parent();
	  @include row(table);
	  
	  li {
		  	@include span-columns(1 of 10);
			@include reset-display;
			@include pad();
		  
		  a{
			  color: #CFCFCF;
			  background: rgba(14,60,14,1);
			  box-shadow: 0 !important;
			  font-family: $secondary-font;
			  font-size: 1em;
			  text-transform: uppercase;
			  letter-spacing: 0.05em;	
			  text-decoration: none;
		  }
	  }

  }
	
	.infotable-inner{
		@include outer-container(92%);
		
		.callout{
			@include span-columns(4);
		}
		
			
			.infotable-filters {
				@include span-columns(8);
				div {
				@include span-columns(2 of 8);
				}
		}
	}

	.table {
		@include outer-container(92%);

		
		tr {
    	border: 1px solid #ccc;
		}
	}	
}